@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-white;
  // background: linear-gradient(90deg, #000000 50%, #ffffff 50%);
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'SpaceGrotesk', sans-serif;
  box-sizing: border-box;
}
